[2019-06-11 01:05] danisyellis opened #3 "Make fetching and filtering more performant"
Currently We:
1. ping the github API for a person's events
2. Look at the first page and keep only the events that are event types we care about
3. Do this for every page of event history that Github has (they hold up to 300 events at a time, 10 per page)
4. Now, we look through that array of events to see if one is in the correct time period, and stop looking when we find one.

However, there's n

[2019-06-13 23:29] danisyellis opened #5 "Add support for Bitbucket"
Currently, we only look at Github, it would be great to look at other places people make contributions too.

[2019-06-13 23:30] danisyellis opened #6 "Add Support for GitLab"
Currently, we only look at Github, it would be great to look at other places people make contributions too.

[2019-08-20 23:32] DuaneOBrien opened #9 "Add configuration option to allow custom lists of important events."
The function filterResponseForImportantEvents relies on a hard-coded lists of events that we believe are important. This list of events should be moved to a configuration option that allows the list of events to be customized. By way of example, our list of events specifically excludes PushEvent, but future users may want to include it.

The simplest version of this would be to add a new variable

[2019-08-20 23:36] DuaneOBrien opened #10 "Add configuration options to allow filtering of self-owned or employer-owned repositories"
Currently Starfish does not filter out events in personal repositories, or in repositories owned by specific organizations. Future users may want to exclude contributions into repositories that their employer owns (key point - one employer may own many GitHub Organizations), or contributions into personal repositories (defined here as "any repository owned by the user who triggered the event"). We

[2019-10-01 13:00] rajitha1998 commented on #9
Hi can I try this issue?

[2019-10-01 17:12] danisyellis commented on #9
Sure! Let me know if you have any questions.

[2019-10-03 06:55] hnarasaki commented on #10
I'd like to try this one!

[2019-10-03 21:20] danisyellis commented on #10
Sounds good :-)
Before you submit your PR, make sure you have the most recent version of the codebase merged in with your code (i.e. do a pull from upstream and handle any merge conflicts). Since there's someone else working on another issue right now, it's possible there will be new code to merge.

[2019-10-04 02:03] hnarasaki opened #12 "Add More Error Handling"
Add error handling.

[2019-10-04 02:04] hnarasaki opened #13 "Add More Tests"
Add more tests.

[2019-10-04 02:06] hnarasaki opened #14 "Update README.md CSV section"
Update the README.md CSV section. I did the setup and used VS Code as my IDE. I saw some weird things happen with the CSV, so would like more clarification on CSV setup.

[2019-10-04 02:09] hnarasaki commented on #10
@danisyellis Thanks for the heads up! :)

[2019-10-04 02:18] hnarasaki opened #15 "Update README.md with Project Structure Information"
It could be helpful for new contributors to have a Project Structure section in the README.md explaining the structure, like what each folder/file does.

Example: https://github.com/twilio-labs/open-pixel-art/blob/master/CONTRIBUTING.md

[2019-10-07 20:23] danisyellis commented on #14
From talking to you about this on Thursday, I think the plan is for you to
1. get to the point where you can create your own CSV and use it to run Starfish and get back correct info
2. document the things that were unclear in the README. (One of which is: if using a google sheet, put each category into its own column in the sheet so that a CSV has each category separated by a comma)

[2019-10-07 20:29] danisyellis commented on #15
That's a cool idea. Starfish is pretty simple.

All of the code is in index.js
Everything else is text files, the gitignore (to tell git what to ignore), a template for making the environment variables, a test file (with only 1 test so far), and the package.json (which is a node configuration file).
When you run npm install, you'll also get a folder called node_modules added to your code locally.

[2019-10-07 22:21] danisyellis commented on #13
Are there any tests in particular you think would be useful to add?

For anyone wanting to work on this: there is currently a test.js file that is hooked up and working, with 1 super-basic test. More are welcome.
If @hnarasaki doesn't add more detail to this issue themself, I'll try to flesh it out at some point.

[2019-10-07 22:26] danisyellis commented on #12
I agree that this project could use more error handling and messages to the user when things aren't working correctly!

Could you add any specifics to this issue? What functions should be checked for errors (and then those errors handled)? Have you seen any specific errors yourself when running Starfish that don't have error handling yet? The more specific the issue is, the more likely someone wil

[2019-10-11 20:05] hwang381 commented on #9
Anyone actually taking this? If not may I take a stab?

[2019-10-11 23:07] danisyellis commented on #9
oh, that's strange. Someone claimed this issue but their comment is gone now. I guess they changed their mind and deleted it without saying anything.
Thanks for the PR! I'm heading out for the day, but I'll take a look at it soon.

[2019-10-20 23:09] hwang381 commented on #9
@danisyellis May I get an eye on the CR? Thank :)

[2019-10-21 20:03] dejongnj opened #19 "Set up linting"
Linting will provide a way for contributors to make PRs with more confidence that they are meeting the coding standards of the project. This is easy to setup, but should probably be done by someone who is heading up the project so that we can adhere to their rules/style preferences.

[2019-10-21 20:35] dejongnj opened #20 "Remove hard-coding of github id column"
Currently this project hardcodes the column from which we get the github id here: https://github.com/indeedeng/starfish/blob/dc651c846bbbe1bc6eefee70a24cdf44383c59a2/index.js#L50

We should allow the user to specify which line they get it from. I figured this out while trying to run with test data (copy and pasted from readme.md and using my own details and getting zero responses). Once I added a

[2019-10-21 20:46] dejongnj opened #21 "Change the array used to check for duplicate ids into a set (edited issue title to reflect the change we decided on)"
When checking for duplicated IDs we push existing ids into an array: https://github.com/indeedeng/starfish/blob/dc651c846bbbe1bc6eefee70a24cdf44383c59a2/index.js#L35

Changing the data structure to an object will allow for O(1) lookup time instead of O(n) having to look through the whole array to check which will speed up the process and scale a little better. It could also reduce/simply the logic

[2019-10-21 21:37] kevindigo commented on #21
Would a Set be even better than an object?

[2019-10-21 21:39] kevindigo commented on #19
Big +1 on this. Great idea.

[2019-10-21 21:40] kevindigo commented on #20
This sounds great to me. How would you envision passing the desired column value into the code?

[2019-10-21 22:01] dejongnj commented on #20
The .env.template has a property `CSV_COLUMN_NUMBER_FOR_GITHUB_ID`. We could just use that as a first step

[2019-10-21 22:07] dejongnj commented on #21
Nice! I like that idea better. Even though an object may be slightly more performant than Set, I think Set is semantically a better choice and its implementation (under the hood) should still be O(1)

[2019-10-23 21:24] danisyellis commented on #19
Agreed. That's a great idea. We'll add it to our TODO list. Thanks!

[2019-10-23 21:48] danisyellis commented on #20
Yes! Looking over my code briefly, it looks like I use CSV_COLUMN_NUMBER_FOR_GITHUB_ID to make `githubIdColumnNumber` on line 12
https://github.com/indeedeng/starfish/blob/dc651c846bbbe1bc6eefee70a24cdf44383c59a2/index.js#L12
and then I use `githubIdColumnNumber` to make `idObject.github` on line 122,
https://github.com/indeedeng/starfish/blob/dc651c846bbbe1bc6eefee70a24cdf44383c59a2/index.js#L122

[2019-10-23 22:07] danisyellis commented on #21
Sounds good to me.

[2019-10-28 18:22] #9 closed

[2019-12-04 23:00] hnarasaki commented on #10
Finished setting up my dev env today. Thank you for all the help! Will probably resume working on this around Tues. or so.

[2019-12-04 23:40] danisyellis commented on #10
fyi, while researching something else, I noticed that each event has an "author_association", for example `author_association": "NONE"` or `"author_association": "OWNER"`

This might be the best way to find out if it's the persons own repo or not.

(I checked and for example, for Starfish, because it's owned by indeedeng, not danisyellis, I'm a "collaborator" not an "owner", so even if we filtered

[2020-02-12 18:54] danisyellis opened #26 "comment formatting is wrong - change # to // in .env.template"
Currently, using # for comments is throwing errors, so let's change it to // which is correct

[2020-02-12 19:05] danisyellis commented on #12
notes on one thing to add, quoted from an email:
"Because I ran it several times with blank output, I ended up rate limited. Errors should be caught, which I did by checking response.ok right before calling response.json."

[2020-02-12 19:46] danisyellis opened #27 "handle Github's API deprecation"
we're getting emails that the way we're sending in our auth credentials (the Github API personal access tokens and OAuth app tokens) is deprecated and will stop working in July.

Here is an example of the GitHub email:

https://api.github.com/user/{usernumberhere}/events

Visit https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api/#authenticating-using-query-p

[2020-02-25 20:34] NckHmml commented on #27
Had a quick look at this while trying to get the code to run.
But it looks like the combination of personal access token + basic auth won't be deprecated. (https://developer.github.com/v3/auth/#via-oauth-and-personal-access-tokens)
Or does the personal access token have any disadvantages?

Got it to work so I can make a PR if you like, but I probably should update the readme too then.

[2020-02-27 02:05] danisyellis commented on #27
Hi @NckHmml thanks for working on this!
I took a quick look at the code in your fork and it looks good.
Also, you're right, we should switch to using a personal access token instead of OAuth app credentials. If you'd like to change the README that would be great! If not, you can just submit the code as a PR and I'll fix the README.

[2020-02-28 00:28] danisyellis opened #29 "Starfish: Change how timezone offset is passed in and handled"
The way we are handling the config TIMEZONE_OFFSET may only work for time zones west of UTC+0, and is confusing in the sense that a UTC-06 offset is entered as a positive 06. Also, it doesn't currently allow for true timezones– instead, it only allows a constant offset from UTC.

We should probably rename the config variable to something like "TIMEZONE", and allow the values to be any named timezo

[2020-03-12 19:38] #27 closed

[2020-03-12 19:43] jeffwilcox commented on #27
Just FYI -
I adapted some of this code to work on a rolling basis using a modern GitHub App and that authentication approach... we have rate limiting challenges trying to discover all the contributions people have made, and by moving to the GitHub App, we get a lot more API tokens to play with.

Unfortunately it's a frakenmess of code since our existing infrastructure is pretty complex, but I'm ha

[2020-03-12 19:49] jeffwilcox commented on #10
I've implemented some of this in my fraken version of starfish. It's heavily reliant on maintaining an e-tag cache of GitHub responses to avoid rate limiting challenges.

The most expensive operations for me have come from having to walk forks: if someone contributes to a fork (or a fork of a fork) of a MSFT project, I need to exclude that event from the eligible events for the user.

Our approach

[2020-03-12 19:50] jeffwilcox commented on #3
Also consider storing the e-tag returned for a person, so you can not retrieve results if there's been no change.

See also - conditional requests: https://developer.github.com/v3/#conditional-requests

[2020-03-12 20:53] jeffwilcox commented on #29
I'm using the npm `luxon` in my project today and so when I incorporated the starfish approach, I went with configuring an IANA timezone, giving me this ugly but functional way of having the appropriate boundary for the month local to our corp hq.

[code]

[2020-03-17 19:16] SheriffHobo opened #30 "Add functionality for a "opt-out" users list."
We have heard from a number of contributors that they do not wish to be part of the FOSS fund voting Slack channel. With that in hand, we could use a function that allows the entry of an "opt-out" list that would be compared to the full list of contributors, then it would return a revised list of contributors minus the "opt-out" folk. The list of opt-out users needs to be manageable as well, in ca

[2020-03-18 06:08] danisyellis commented on #30
I wonder whether this would be a generally useful feature or if it's more Indeed specific and something we should just implement locally. @DuaneOBrien do you have any thoughts from talking with other OSPOs?
Anyone else reading this from another institution, please chime in with whether or not you'd like this functionality in Starfish.

[2020-03-31 23:57] IngridGdesigns commented on #20
will work on this issue

[2020-04-03 21:45] kevindigo commented on #12
I wish I had documented more clearly what errors I was seeing. The first can be replicated by having a mis-configuration that results in passing alternateIds (like email addresses) to GitHub as if they were githubIds. Starfish will just silently return no data.

To fully test that this is fixed, you should probably disable passing your token, so that github will enforce tight rate limiting. Then r

[2020-04-06 22:37] kevindigo commented on #12
The code snippet above helped us get started, but appears to have been targeted for a different HTTP library. Fortunately, the node-fetch docs were pretty clear, so it wasn't hard to see what was needed.

[2020-04-06 22:43] IngridGdesigns commented on #12
PR request for this Issue : [Handle error responses to HTTP requests](https://github.com/indeedeng/starfish/pull/34)

[2020-04-07 17:50] IngridGdesigns commented on #29
I will work on this issue

[2020-04-08 21:12] #20 closed

[2020-04-08 21:24] #12 closed

[2020-04-10 22:01] IngridGdesigns commented on #29
Fixed issue and added/edited TIMEZONE and how to use it [here is the PR]( https://github.com/indeedeng/starfish/pull/36)

[2020-04-11 15:49] mjpitz commented on #29
You could consider leveraging the `TZ` environment variable employed by docker and many other systems.

[2020-04-14 22:46] kevindigo commented on #29
Using TZ is an interesting idea. However, in this case, I think one of our design goals is to be able to use a different timezone for the midnight boundary than the one that the executing machine is configured to use. For example, a developer in Florida might want to use UTC, or Los Angeles time, as the boundary during testing.

[2020-04-14 23:32] jeffwilcox commented on #29
Time is hard! We were wondering about this, too - MSFT is very Redmond-centric (we love 98052!), so for FOSS Fund we're using Redmond time boundaries for a month of contributions... but realize... that's not ideal. Better would be for the HR systems to tell us where a person's home timezone is and respect that.

[2020-04-15 20:39] kevindigo commented on #29
@jeffwilcox : That's a cool idea. Glancing at the code, I don't think it would be too hard to add a config setting to indicate a column in the input CSV that would indicate the time zone for each contributor. We would want that to be optional, so orgs could continue to use the global setting that starfish already has. There would be a slight data gap/overlap for the month that an org switched from

[2020-04-15 22:42] jeffwilcox commented on #29
I'd love to contribute, but unfortunately have had to diverge from using starfish due to significant rate limiting over the 30,000 different accounts I'm grabbing data on... so I'm messing with a similar codebase now but yet different.

[2020-04-20 08:15] danisyellis opened #38 "New major version because we've created a breaking change"
We need a new major version. (i.e. from version 1.0.0 to version 2.0.0)
That will tell users that there's been a breaking change introduced (i.e., if they pull in the new code and don't change anything, Starfish won't run correctly anymore).

The breaking change was the commit that changed our GitHub API auth from using an OAauth app to using a Personal Access Token. So, I'd like the new major ver

[2020-04-22 23:41] danisyellis commented on #19
PRs #37 and #31 fix this issue

[2020-04-22 23:41] #19 closed

[2020-04-23 00:11] #29 closed

[2020-04-23 00:13] danisyellis commented on #38
And, there's now a second breaking change - also in the .env file.
TIMEZONE_OFFSET has been changed to TIMEZONE and the value should be written differently than before. Instructions are in the README.

[2020-04-24 18:14] IngridGdesigns opened #39 "April 2020-Update all dependencies"
April 2020 - update all outdated dependencies, such as dotenv, mocha etc.

[2020-04-24 18:50] IngridGdesigns commented on #39
in progress, working on it

[2020-04-24 22:18] IngridGdesigns commented on #39
Link [to the PR](https://github.com/indeedeng/starfish/pull/40)

[2020-04-27 20:11] IngridGdesigns opened #41 "Update project to use Node 12"
Upgrade Starfish to use Node 12,  Node 10 or above is required to use Prettier

[2020-04-29 20:52] #39 closed

[2020-05-05 21:00] #41 closed

[2020-05-05 23:39] #14 closed

[2020-05-05 23:39] #15 closed

[2020-05-05 23:39] #26 closed

[2020-05-08 21:06] jeffwilcox commented on #30
Our notifications asking people to vote (we don't use slack, so, for us, it's e-mail) and also for awareness uses a company "mail campaign" system - we have to provide unsubscribe links always - and we've had 14 people unsubscribe, which is a bummer. :(

[2020-05-08 21:21] danisyellis commented on #3
That's a good idea Jeff. I think I'll make a new issue for that to make it more visible.
Do you have a recommendation between using e-tags or the Last-Modified header?

I also saw in one of your other comments that you're using octokit, and I'm curious what advantage using octokit gives you over plain api calls?

[2020-05-08 21:30] danisyellis commented on #10
Jeff, I just want to make sure that you know about [Microsoft's GHCrawler](https://github.com/microsoft/ghcrawler). I know you're at Microsoft, so you probably already know about it, but I believe that the crawler (and the ghrequestor project it uses) are so robust so that it can crawl all the data you need in a time-period much smaller than 16 hours?

I have a PR in to the crawler to make it craw

[2020-05-08 22:09] jeffwilcox commented on #10
Thanks, appreciate it! My team shipped the crawler, but recently shifted the charter to a team that is dedicated to this sort of data collection, and unfortunately I feel like the project as it exists may not be getting too much love... it was essentially a hard internal fork they made. :/

We are working with them to eventually hook up to more of these events, thanks for the reminder.

Due to the

[2020-05-08 22:11] jeffwilcox commented on #3
We chose the e-tag and never looked back, so I don't have any useful guidance!

I want to say that Octokit has given us better long-term support, but we've still had to deal with a number of breaking changes over the years. So I'm going to put it in the "trying to help our GitHub friends build and bake this great library" as my reason.

There are also some plug-ins already created on retry policie

[2020-05-08 23:08] danisyellis commented on #10
Thanks for the crawler! It's been really useful to us - especially back when I was the only engineer on our open source team!
Ahhhh, there's been an internal fork. That makes sense. I figured no one was using the open source version over there any more because ghrequestor hasn't been fixed to deal with GitHub's API deprecation in July.
No worries. The crawler is more robust of a solution than we n

[2020-05-08 23:11] danisyellis commented on #3
Thanks!

[2020-06-08 22:24] danisyellis opened #44 "Use conditional requests to avoid rate limiting problems"
See this link for more info conditional requests: https://developer.github.com/v3/#conditional-requests
We could use either ETags or the If-Modified-Since header.

Making a conditional request and receiving a 304 response does not count against our rate limit, so it could help any rate limiting issues.
We (at Indeed) haven't seen a huge problem with this, but a larger org almost certainly would.

[2020-09-03 20:18] danisyellis commented on #38
I handled this a few months but forgot to close this issue. Closing as fixed now.

[2020-09-03 20:18] #38 closed

[2020-09-13 07:39] danisyellis commented on #30
@SheriffHobo after thinking about this and talking to a few people, we think it makes more sense to simply

- have a separate sheet(page) in our google spreadsheet of GitHub Ids that contains only the employees who haven't opted out of FOSS Fund voting

- feed into Starfish that list of only the potential contributors that you care about.

There's no need to have Starfish look up the contributors

[2020-09-13 07:39] #30 closed

[2020-09-13 07:46] danisyellis commented on #6
We've been collecting employee data for about 2 years now and we only have 3 people who've given us personal GitLab ids. That isn't compelling enough for me to take the time to add GitLab to this project.

If someone would like to add GitLab support themself I'd be happy to review and merge a pull request (and explain anything that's confusing along the way, but I'm going to close this issue for n

[2020-09-13 07:46] #6 closed

[2020-09-13 07:52] danisyellis commented on #5
We've been collecting employee data for about 2 years now and we only have 2 people who've told us about open source work in BitBucket. That isn't compelling enough for me to take the time to add BitBucket to this project.

If someone would like to add BitBucket support themself I'd be happy to review and merge a pull request (and explain anything that's confusing along the way), but I'm going to

[2020-09-13 07:52] #5 closed

[2020-10-02 04:45] rajaSahil commented on #44
Hi, @danisyellis I would like to take up this as my first contribution.

[2020-10-02 05:02] hackily commented on #13
There's quite a few helper functions that should have tests written for them, assertions can be written for both the happy and unhappy paths.
My diff https://github.com/indeedeng/starfish/pull/48 exports these helper functions into the test file and offers another very basic example for one of these helper functions, and leaves plenty of room for other contributors to flesh out the rest of the tes

[2020-10-05 19:00] danisyellis commented on #44
Hi @rajaSahil That would be fantastic.
let me know if you have any questions.

[2020-10-06 04:21] thisisamank commented on #13
Hi, i would like to work on it 😃

[2020-10-06 10:24] danisyellis commented on #13
Hi @thisisamank. That would be great.
You may want to wait a few days to start, until I've resolved #48, to avoid potential merge conflicts.

[2020-10-07 05:12] thisisamank commented on #13
okay 👍

[2020-10-07 21:16] ng29 opened #52 "Adding Table of Content to Readme.md"
@danisyellis

The idea for Adding Table of Content to Readme.md to add additional enhancement and readability to the docs file.
Also hopping between the information will be quite ease

I would like to work on this issue.

Cheers,

[2020-10-12 19:05] IngridGdesigns opened #56 "Starfish package-lock.json should refer to npmjs"
Package-lock.json should refer to the public registry npmjs registry:
"resolved": "https://registry.npmjs.org/@babel/code-frame/-/code-frame-7.10.4.tgz"

[2020-10-12 19:06] IngridGdesigns commented on #56
@danisyellis going to start working on this now

[2020-10-12 21:47] danisyellis commented on #52
Hi @ng29.
Thanks for submitting this issue. We thought about it and decided that we don't want a Table of Contents for the README at this time.
The README is still pretty small, and if we had a Table of Contents, we'd have to make sure to keep it updated any time we changed anything. Thanks anyway!

[2020-10-12 21:47] #52 closed

[2020-10-12 22:37] kevindigo opened #58 "Allow filtering based on action types within event types"
Starfish currently can be configured to count contributions based on their event type, like "PullRequestEvent". It would be nice to further be able to count (or not count) those events based on the event action. For example, to include PullRequestEvent "closed" events but not "opened" events.

I would propose that the existing event type environment variable could be extended in a backward-compati

[2020-10-12 23:07] danisyellis commented on #58
To add a bit more detail:
This will be a change to the GITHUB_IMPORTANT EVENTS environment variable and how it's used. After this change, if the user decides to create a custom list of events, each of those events can contain event type or not. It can be a mix. An example value for `GITHUB_IMPORTANT EVENTS` would be `“PullRequestEvent.opened, PullRequestEvent.closed, CommitCommentEvent”` etc.

The

[2020-10-12 23:21] danisyellis opened #59 "Switch test suite from Mocha to Jest"

[2020-10-12 23:23] danisyellis commented on #13
Okay @thisisamank. I've merged in the relevant PRs, so feel free to get started. Hackily's changes should make writing tests easier.

I also just created #59 because we'd like to eventually switch from Mocha to Jest for our test suite.
If you'd like to work on that one, leave a comment in there and I'll assign you. Otherwise, feel free to write your tests in Mocha, it should be pretty easy to conv

[2020-10-12 23:34] danisyellis commented on #10
UPDATE: For anyone interested in this issue, it's currently not assigned. Feel free to leave a comment if you'd like me to assign it to you.

[2020-10-13 03:43] JoeAmedeo commented on #59
I would be willing to tackle this one, should be able to get it done tomorrow.

[2020-10-13 18:23] danisyellis commented on #59
Sounds good. Thanks @JoeAmedeo
FYI, we realized yesterday that currently, when you run the tests in mocha, they hang (the process never finishes even though it's done running the tests). Until we fix the underlying cause, the same thing will likely happen when you switch it over to Jest. As long as the tests run in Jest correctly, it's fine for now if the process hangs.

(We'll probably fix it by

[2020-10-13 18:25] danisyellis commented on #13
Someone has asked to work on 59, and says they should be done with it today or tomorrow.
So I'll assign this one to you @thisisamank and you should write your tests using Jest.

[2020-10-14 01:21] danisyellis opened #60 "replace Moment.js with Luxon"
Moment is in a semi-deprecated state now. They recommend using something else in most cases.
We've tried out [Luxon](https://moment.github.io/luxon/) a bit and like it, so we're looking to switch Starfish to use Luxon everywhere that we're currently using Moment.

If you take up this issue, be sure to update the README to reflect any changes you make to how a user should fill out the TIMEZONE env

[2020-10-14 04:58] danisyellis commented on #44
Hi @rajaSahil I just wanted to let you know that I'm doing virtual "office hours" tomorrow (maybe today when you read this) October 14th at 4pm PST https://organize.mlh.io/participants/events/5666-virtual-starfish-office-hours. And then again on October 26th from 2-3pm PST. https://organize.mlh.io/participants/events/5668-virtual-starfish-office-hours
If you have any questions about this ticket, y

[2020-10-14 07:58] rajaSahil commented on #44
Thanks, @danisyellis I will try to join the virtual office, although it will be early morning here(4:30 am).

[2020-10-14 08:12] danisyellis commented on #44
Oof, that's really early! We can also set up some other time that works better for each of our timezones!

[2020-10-14 08:15] Himanshu-Modi commented on #58
Hey @danisyellis i wanna work on this. Can i take this.

[2020-10-14 08:22] rajaSahil commented on #44
Yes, that would be really helpful.

[2020-10-14 08:22] danisyellis commented on #58
Sure! Thanks. Let me know if you have any questions.

[2020-10-14 12:53] Himanshu-Modi commented on #58
Basically my approach of filtering event is that if the event doesn't contain a type then compare and add it to Important events.
else if the event contains type then we compare the (event + event type) and add them if they matches .

I have implemented it can i make a pull request.

[2020-10-15 01:52] IngridGdesigns commented on #56
This branch has some errors that was committed (https://github.com/indeedeng/starfish/pull/57), so I made a new branch.

[2020-10-15 05:25] danisyellis commented on #58
That sounds like the right approach.

Please do submit your pull request. We'll take a look and let you know if there's anything that needs to be changed.

Before submitting the PR, remember to
a) make sure it runs and gives the output you expect
b) run the linter and make sure everything passes
c) run the tests and make sure everything passes
d) once you push it to github, make sure that your bra

[2020-10-15 23:56] #56 closed

[2020-10-16 00:47] danisyellis commented on #13
Functions that currently (once an open PR is merged in) have tests:
    filterResponseForImportantEvents,
    getOrThrow

Functions that currently need tests:
    createIdObject,
    fetchPageOfDataAndFilter,
    fetchUserDataAndAddToCSV,
    filterContributorByTime,
    parseDatesFromArgv

[2020-10-16 01:07] danisyellis opened #65 "Add configuration options to allow filtering of self-owned repositories"
Currently Starfish does not filter out events in personal repositories. Future users may want to exclude contributions into personal repositories (defined here as "any repository owned by the user who triggered the event"). We should add configuration options that allow future users to easily implement their own policies regarding where events will be counted.

The simplest version of this would b

[2020-10-16 01:21] danisyellis commented on #65
For anyone thinking of working on this issue, feel free to submit a PR for just the work in the initial description above!
Or you can do that piece and then add in more code to support the feature I describe below:

Optional addition: some percentage of self-owned repos are not simply practice projects, but instead are actual open source projects that other people contribute to and use.
Therefore,

[2020-10-16 01:24] danisyellis opened #66 "Add configuration options to allow filtering of employer-owned repositories"
NOTE: This issue should not be worked on until the initial the initial work for #65 is completed and merged in

Currently Starfish does not filter out events in repositories owned by specific organizations. Future users may want to exclude contributions into repositories that their employer owns (key point - one employer may own many GitHub Organizations). We should add configuration options that

[2020-10-16 01:25] danisyellis commented on #65
fyi, while researching something else, I noticed that each event has an "author_association", for example author_association": "NONE" or "author_association": "OWNER"

This might be the best way to find out if it's the persons own repo or not.

(I checked and for example, for Starfish, because it's owned by indeedeng, not danisyellis, I'm a "collaborator" not an "owner", so even if we filtered out

[2020-10-16 01:27] danisyellis commented on #10
I'm closing this issue because
a) I think the conversation chain in here might be overwhelming to people new to Starfish who are looking to contribute
b) I separated this issue into 2 issues (#65 and #66 ) 1 for self-owned repos and 1 for employer-owned repos

[2020-10-16 01:27] #10 closed

[2020-10-16 13:26] AndreRSFC commented on #60
I would like to try to resolve this issue :)

[2020-10-16 18:23] AndreRSFC commented on #60
Any proposal for improvement or adjustment that I am totally willing to make, just let me know :)

[2020-10-16 18:36] AndreRSFC commented on #13
@danisyellis Hello, I would like to test the following functions: createObject, filterContributorByTime and parseDatesFromArgv.

[2020-10-16 19:11] nisha06k commented on #65
optimized the code

[2020-10-17 07:04] thisisamank commented on #13
I am really sorry for this, but my computer has got some serious problems
and by the end of next week it will be fixed...you know lockdown and all
has made the process slow...so until then i won't be able to write code. I
can start working from 24th oct...or may be please assign it to someone
else who is interested.
Thanks and sorry again!

On Tue, 13 Oct 2020, 23:55 Danielle Gellis, <notification

[2020-10-17 09:24] jmakhack commented on #13
Hi @danisyellis, if another developer is needed to write the remaining tests, I can pick this issue up.

Looks like there is currently a PR open for the tests for `createIdObject`, `filterContributorByTime` and `parseDatesFromArgv`.
I can help write tests for the remaining functions: `fetchPageOfDataAndFilter` and `fetchUserDataAndAddToCSV`.

[2020-10-22 21:47] #59 closed

[2020-10-26 12:21] danisyellis commented on #13
Thanks for the PRs AndreRSFC and jmakhack, take a look at your PRs for some code review.

@thisisamank no worries at all. I really appreciate that you let us know so that other people could work on it :-)

[2020-10-26 21:35] alisonjudy opened #75 "Add alt text to images"
Add alt text to images for better accessibility.

[2020-10-26 22:05] mihailot01 commented on #75
Should it be added to two images in the readme file?

[2020-10-26 22:09] alisonjudy commented on #75
yes, please, both images in the readme. Thanks!

[2020-10-27 06:52] #75 closed

[2020-10-28 17:10] kevindigo opened #78 "Provide default values for most configuration options"
Rather than always requiring users to create environment variables for everything, I would propose:

- CSV_COLUMN_NUMBER_FOR_GITHUB_ID could default to 0
- CSV_COLUMN_NUMBER_FOR_ALTERNATE_ID could default to 0
- TIMEZONE could default to UTC
- GITHUB_IMPORTANT_EVENTS could default to some reasonable list

This would make it easier for users to try running starfish the first time. It would also avo

[2020-10-28 19:39] kevindigo commented on #78
I should make it clear that this is a personal idea I had this morning. Project leadership will have to discuss whether it would really be a good move.

[2020-10-30 02:40] danisyellis commented on #78
I like this idea and think we should do it :-)

Here's some details for implementation:
Currently, some of these variables have defaults in the `.template.env`
However, this issue would be changing the code in `index.js` to contain the defaults instead. For each variable (except GITHUB_TOKEN) which will not have a default, the code would check to see whether or not that variable exists in the `.en

[2020-10-30 16:30] kevindigo commented on #78
If .env.template allows comments, the variables with defaults could be commented out, with their default values. If not, then I agree that just having them be the same as the code defaults makes sense.

[2020-11-02 18:25] danisyellis opened #80 "Add configuration option to allow filtering by minimum number of contributions"
So far, the default has been 1 contribution.
I'm going to add the ability to change that number so you can decide that only employees who contribute 2,3,4, etc. times get a specific perk.

[2020-11-05 23:30] kevindigo opened #81 "On Mac, starfish often gets intermittent errors fetching user data"
Because starfish queues up all the user fetch requests at once, they all get sent to the operating system in quick succession. This doesn't seem to be a problem on linux, but macs can get overwhelmed with even a few hundred github ids. (From memory, I think it's an issue with the dns resolution.) We don't know if ms windows is affected.

The proper long-term solution is to switch to a network libr

[2020-11-06 19:32] #81 closed

[2020-11-11 23:12] danisyellis opened #83 "Extract the entire Contributing section of the README into a Contributing.MD"
Now that it's gotten longer, it makes sense to make it a separate file. Plus, that's good practice for an open source project to have a Contributing.MD

The new file should contain everything that's currently in the “Contributing” section of the README, and probably nothing else.

The README should be left with the header that says Contributing and a new sentence mentioning that we welcome contrib

[2020-11-11 23:15] danisyellis opened #84 "Add a "Troubleshooting" Section to the README"
Eliminate the section entitled NOTE FOR CURRENT STARFISH USERS - BREAKING CHANGES
It is a) non-accessible because all caps and b) very specific to a certain period of time.

Replace it with a section called troubleshooting which will say If you get _____ errors, you can fix it like this ______

Also add to the new Troubleshooting section a bit about the intermittent 404 errors and what we've done

[2020-11-11 23:22] danisyellis opened #85 "Rename ALTERNATE_ID to ID_TO_LOG_OUT or ID_FOR_OUTPUT or something like that"
I think this change will make it more obvious what that ID is for.

As part of this change, update the README in any way necessary to make it as understandable as possible that this is controlled by the CSV and the number you put in the ENV variable, not in the code.

[2020-11-11 23:27] danisyellis opened #86 "Move some code so that tests don't hang and the code is more readable"
Currently, all of the code is in one file index.js

We'll want to move most of the code to a new file called `starfish.js` and have both index.js and the tests require that file so that running the tests doesn't have the side effect of running the entire application.

Also, this separation will probably make the code more readable by making it more obvious where the code starts.

[2020-11-12 00:03] danisyellis opened #87 "convert Starfish to TypeScript"
The Indeed Engineering team is a big fan of TypeScript. In a lot of ways, it makes coding easier and helps you find bugs.
Therefore, we'd like to eventually convert Starfish from plain JavaScript to TypeScript.

[2020-11-12 03:01] danisyellis opened #88 "Use fs.readFileSync instead of process.stdin to read CSV file"
Change the code to use argv to get the filename of the CSV and then pass it in to readFileSync. This will replace the current code which expects the CSV contents to be piped in via stdin.

This will be less confusing to people reading the code because it's more standard.

[2020-11-12 17:01] kevindigo commented on #85
Between those 2 options, I prefer ID_FOR_OUTPUT.

[2020-12-04 00:35] #21 closed

[2020-12-07 19:27] danisyellis opened #91 "Make README comply with linting rules"
When using the markdownlint extension in VSCode, a number of linting errors show up.
We should fix them at some point, or else change the rules to conform with anything we think should be different.

As a stopgap measure, could add the README to either Gitignore or the linter's ignore file.

[2020-12-08 20:16] danisyellis opened #92 "Streamline env variables"
Let's do this after converting the repo to TypeScript

Right now, the defaults for our env variables aren't very standardized. Some are optional, some aren't, some can be blank, others can't, etc. We have numeric entries that must be present, but should be allowed to be zero and we have a string (TIMEZONE) that is totally optional, where "" is treated as if it's missing.
We may want to change some

[2020-12-09 01:56] #65 closed

[2020-12-09 02:07] danisyellis commented on #44
Hi @rajaSahil are you still interested in working on this? If not, I'll unassign you.

[2020-12-09 02:27] #85 closed

[2021-01-08 00:56] danisyellis commented on #13
Most functions have tests now, so I'm closing this general issue and will open a new, more specific one if we decide we need any more tests  :-)

[2021-01-08 00:56] #13 closed

[2021-01-08 01:17] danisyellis commented on #84
Also mention that the tests currently hang and that's a known problem.

And, create a CHANGELOG in GitHub discussions

[2021-01-10 13:57] suveshmoza commented on #83
Hello can I help you with this issue?

[2021-01-10 23:29] danisyellis commented on #83
That would be great @suveshmoza Thank you!

I just edited the instructions above to be a bit more specific, so make sure to re-read it before you start :-)

[2021-01-11 19:28] #83 closed

[2021-01-11 20:25] #58 closed

[2021-01-11 22:52] #60 closed

[2021-01-13 23:08] #84 closed

[2021-01-22 22:04] #80 closed

[2021-03-02 01:46] danisyellis opened #104 "only ignore self-owned events if the project isn't used by others"
So we added an env variable IGNORE_SELFOWNED_EVENTS which ignores an event if the author of the event is also the owner of the repo.
The intention of this is to ignore projects that are just someone's practice project they're storing on GitHub.

I'd like to add another piece to this feature now:

Some percentage of self-owned repos are not simply practice projects, but instead are living open sour

[2021-03-05 20:42] kevindigo opened #106 "Consolidate to a single .gitignore in the root directory"
We currently have a second .gitignore file in CSVsToParse. While that works, it is a bit unusual to have subtree .gitignore files. Plus, we have to then have a line in that .gitignore telling it not to ignore .gitignore itself. It seems cleaner to just get rid of the extra .gitignore file, and have all of the ignore rules in the main .gitignore file in the root directory.

[2021-03-11 20:40] keeganwitt commented on #106
I think you may not want to do that.  If you do, the `CSVsToParse` directory itself will no longer be tracked, because Git doesn't track empty directories.

[2021-03-11 22:08] kevindigo commented on #106
Thanks for the comment. It inspired me to think about our real goal with all of this. Currently we track `CSVsToParse` but then ignore (don't track) anything inside it. I was thinking it would be just as good to ignore `CSVsToParse` itself, rather than tracking it. That would be much simpler, as a single `.gitignore` entry could handle that.

However, it would force users not only to create `CSVsT

[2021-03-12 16:04] keeganwitt commented on #106
I think the issue with a normal (non dot) file is that if you wanted to read multiple CSVs at once (which is why the directory exists in the first place), that file would get sent in over stdin if you relied on shell globbing (which I think is a natural way to do it).

Just to be clear what I mean by that,
[code]
vs
[code]

So if I were using `cat *` as input to Starfish, it'd include the contents

[2021-03-16 15:40] danisyellis commented on #106
Good question. I agree that ideally our tracked file structure would match only what the code requires, but in this case I'm prioritizing ease of using Starfish over code clarity for devs.

Since Starfish is a community management tool, I'd love for non-engineers to be able to follow the README instructions and run it, so I'm making everything as explicit as possible. So we have the empty `CSVsToP

[2021-03-16 17:29] keeganwitt commented on #106
If you wanted to do it that, You could just have the directory hard-coded and read all CSVs in that directory.  I tend to think stdin is less grokkable for less technical folks.  For additional flexibility, you could have the directory to read CSVs from default to that, but allow it to be overridden with a command line arg, which can specify either a file or directory of CSVs (using `isFile()` or

[2021-03-16 19:38] kevindigo commented on #106
We definitely want to read from a file path rather than STDIN. It's on the to-do list for when we circle back to starfish.

One interesting option (which I'm not advocating for at this point) would be to prevent users from reading the file from anywhere inside the starfish git working directory tree. Basically, prevent them from accidentally committing it.

My first thought was to prevent it from

[2021-03-16 20:40] danisyellis commented on #106
Oh yeah, right! I've even created an issue for that.
We'd talked about how it would make the code less confusing, but I hadn't thought through how it will also make Starfish easier to run for a user. Now I'm excited for that refactor.

[2021-03-16 20:42] danisyellis opened #107 "Convert default branch to be named 'main'"
Now that GitHub has finalized their tooling and process for renaming the default branch, let's change 'master' to 'main'.
Some documentation here https://github.com/github/renaming

[2021-03-16 21:10] keeganwitt commented on #106
Yeah, I noticed that after I'd already left the last comment.

I was curious how you'd prevent being in any Git tree. Keep moving up the directory tree until root (or you find a .git)? I know you weren't necessarily advocating that, just thinking through what that'd mean.

[2021-03-16 21:42] kevindigo commented on #106
Yes, I was imagining climbing the tree looking for .git files. Good point about the repo with no remotes.

[2021-05-06 00:14] SheriffHobo commented on #107
The PR for the change is ready for review.

[2021-05-06 18:46] kevindigo commented on #107
It seemed like this accidentally got closed, so I reopened it.

[2021-06-23 09:08] fish-dango commented on #66
I can try to take a crack at this !

[2021-06-23 19:39] danisyellis commented on #66
That would be great. Thanks fish-dango! Let me know if you have any questions.

[2021-07-16 23:49] danisyellis commented on #107
Forgot to close this when I approved the PR. Thanks @SheriffHobo :-D

[2021-07-16 23:49] #107 closed

[2021-09-29 22:19] danisyellis opened #117 "integration tests/ more tests"
Currently, we're testing all of the helper functions in starfish.test.js, and testing our dateTime logic in dates.test.js, but we'd like to have a more robust test suite, including an integration test that uses the 'tests'fixtures/test.csv file'

[2021-09-30 21:49] danisyellis commented on #86
resolved by PR #118

[2021-09-30 21:49] #86 closed

[2021-09-30 21:49] danisyellis commented on #88
resolved by PR #118

[2021-09-30 21:49] #88 closed

[2021-10-01 04:29] danisyellis commented on #91
handled by #119

[2021-10-01 04:29] #91 closed

[2021-10-01 09:52] danisyellis commented on #66
@fish-dango are you still planning to work on this? It's been a few months and I haven't heard anything. No worries if you're too busy, just let us know because someone else might be excited to try it as a Hacktoberfest project.
(If we don't hear back from Fish by a week from now (October 8th) I'd say it's fair for someone else to pick it up.)

[2021-10-01 10:51] danisyellis opened #123 "Un-nest the functions inside of `starfish.js`"
Currently, `starfish.js` is essentially one massively nested function.
This code would be more maintainable if the functions weren't all chained together, calling each other, one after the other. If we can un-nest that, it would also be easier to pass parameters around, so we could get rid of some or all of the globals.

[2021-10-04 21:36] danisyellis opened #124 "add markdownLint as an npm package"
Some devs working on Starfish use the VSCode markdownLint package and it was confusing that they were getting tons of linting errors. So I
1. fixed some of the linting errors in README.md and CONTRIBUTING.MD
2. added a few  comments into the README

To make things more consistent, it would probably be best if the project had markdown linting included in it via an npm package  for a markdownLint co

[2021-10-04 23:24] IngridGdesigns commented on #124
which is the markdown VScode plugin that was used, i want to reproduce the errors, is it by David Anson?

[2021-10-04 23:30] danisyellis commented on #124
Yup, it's this one https://marketplace.visualstudio.com/items?itemName=DavidAnson.vscode-markdownlint

[2021-10-26 00:33] kevindigo opened #126 "Feature: Allow excluding projects with non-OSI approved licenses"
I believe the GitHub API can return the license for a given repo. OSI runs a server that lists approved licenses (https://github.com/OpenSourceOrg/api/blob/master/doc/endpoints.md). For each contribution, I think we could determine the license for the associated repo, and see if that is in the (current) list of OSI approved licenses. If it is not, we could ignore that contribution as we consider w

[2022-01-20 11:17] SagnikH commented on #78
Hi, this is my first time contributing to OS, and I would like to give this issue a try.  Thank You

[2022-01-20 18:45] danisyellis commented on #78
Hi @SagnikH. That would be great, thank you! Let us know if you have any questions or want us to look at a Work-In-Progress PR or anything like that.

Often, the first step is to get your dev environment set up (get Starfish running for you locally). The README has a ton of info on how to do that.

You've probably already read this, but in case you missed it, we also have a [Contributing.MD](https

[2022-01-21 05:26] SagnikH commented on #78
Hi @danisyellis, I have gone through both of them.
I looked at your implementation detail. There you mentioned making changes to the `index.js`  file. I found a `globals.js` file which is being used to validate & get the `env` variables & export them. So I was wondering whether we could implement this default behavior inside that file, as we are using that file solely for handling environment vari

[2022-01-21 21:14] danisyellis commented on #78
@SagnikH Yes, thank you for noticing that!
I've done a major refactor since writing those implementation notes, and now all of the globals are being created in `globals.js` instead of `index.js` and I didn't think to update this issue.

[2022-01-22 03:16] SagnikH commented on #78
@danisyellis  After we make this change, I think we need to change the function name along with some tests in the `starfish.test.js` file. I found it has a test for, checking if the configuration variable isn't present in our environment variables and test for checking if the value matched with corresponding environment variable. As now we are providing defaults, I think we should change it accord

[2022-01-25 00:14] danisyellis commented on #78
Hi @SagnikH
If the function you're talking about is `getOrThrowIfMissingOrEmpty`, we'll need to keep it to use for `githubToken` since that env variable can't have a default.
But for the other variables, you can either a) create a new function or b) not use a function at all, whichever makes more sense.

In starfish.test.js, you're right that that test won't be necessary for the variables that wil

[2022-01-25 05:16] SagnikH commented on #78
Hey @danisyellis, you were right. I have kept the `getOrThrowIfMissingOrEmpty` function and added another function `getDefaultEnvironemntValues` to get the default config values. I modified the test like you told as well and added a note in the README file for our users to be aware of the default implementation we have provided for them.
I am done & have issued a pull request. In case of any probl

[2022-05-25 13:02] ak2ie commented on #66
May I take charge of this issue?

I am considering the following responses
1) Add IGNORE_REPOSITORY_IDS to .env.template.
2) Create a function to filter events.

Thank you in advance for your cooperation.

[2022-05-26 23:04] kevindigo commented on #66
Hi @ak2ie!

The primary maintainer is out this week, so I'll jump in to try to help.

You mentioned adding an `IGNORE_REPOSITORY_IDS` setting, which sounds like a different feature than what was proposed. This issue requested the ability to ignore repos based on who owns them, rather than specifying individual repos directly. Did you intend to propose this different feature? If so, would you find

[2022-05-29 14:31] ak2ie commented on #66
Hi Kevin.

Thank you for your confirmation.

It seems that my understanding was insufficient and my thinking was incorrect.
I would like to add the ability to ignore repos based on the repo owner.

I would like to add IGNORE_REPOSITORIES to the .env.template.

I will give it some more thought.

Thank you in advance for your help with the above.

[2022-07-31 20:25] shehriyarnadeem commented on #44
@danisyellis  Can I work on this task? I would be the first one in my open source journey. So please assign it to me if possible.

[2022-08-01 21:43] kevindigo commented on #44
Hi @shehriyarnadeem. I will assign it to you. The primary maintainer (Dani) is unavailable right now, but I can try to help with any questions you might have. In particular, I encourage you to outline what solution you are going to try, to ensure that it will meet the requirements.

When I tried the earlier docs link, it didn't seem to take me to a relevant section. I found this, which might be he

[2022-08-01 23:05] IngridGdesigns opened #133 "test issue"
testing mariner

[2022-08-01 23:15] IngridGdesigns commented on #133
closing this issue because the test has been performed.

[2022-08-01 23:15] #133 closed